streamlit
langchain-google-genai
langchain
chromadb
requests
beautifulsoup4
pandas
openpyxl  # Para lidar com arquivos .xlsx
python-docx # Para lidar com arquivos .docx
unstructured # Dependência para UnstructuredExcelLoader
tiktoken # Pode ser necessário para algumas funcionalidades do Langchain